:root {
    --left__nav__bg: rgb(2, 0, 36);
    --left__nav__hover-bg: #211293;
    --left__nav__text: #ffffff;
    --card__item: #ffffff;
}

// Title Index
.title__index {
    position: relative;
    z-index: 20;

    h1 {
        font-size: 20px;
        padding: 1em 0 1em;
        color: #777676;
        text-transform: uppercase;
    }
}

// End Title Index

// Ion Icon Setting
.ion-icon__setting {
    align-items: center;
    justify-items: center;
}

.nav__list__datalog {
    flex-direction: row;
    align-items: center;
}

.dashboard__links {
    justify-items: center;
    align-items: center;
    align-content: center;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
    transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);

    a {
        padding: 20px 1.8em 20px;
        text-decoration: none;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        display: block;
    }
}

.nav__container {
    .program__links {
        justify-items: center;
        align-items: center;
        align-content: center;
        -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
        transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);

        a {
            padding: 20px 1.8em 20px;
            text-decoration: none;
            color: #ffffff;
            font-size: 17px;
            font-weight: 500;
            display: block;
        }
    }
}

.link__active {
    background-color: #211293;
    margin: 1em 0;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
    transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
}

.link__active:hover {
    background-color: #3a23e9;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
    transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
}

.dashboard__links:hover {
    background-color: #2f1ace;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
    transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
}

.program__links:hover {
    background-color: #2f1ace;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
    transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
}

// End Ion Icon Setting

.user__icon {
    margin-right: 10px;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: "Author", sans-serif;

    .side__nav {
        // box-shadow: 17px 1px 36px -13px rgba(0, 0, 0, 0.47);
        // -webkit-box-shadow: 17px 1px 36px -13px rgba(0, 0, 0, 0.47);
        // -moz-box-shadow: 17px 1px 36px -13px rgba(0, 0, 0, 0.47);
        z-index: 9999;
        background: rgb(2, 0, 36);
        background: linear-gradient(
            180deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 85, 1) 62%,
            rgba(9, 27, 107, 1) 100%
        );
        width: 280px;
        height: 100vh;
        position: fixed;
        display: block;
        color: var(--left__nav__text);
        overflow: hidden;

        .nav__logo {
            justify-content: center;
            margin: auto;
            display: flex;

            img {
                object-fit: cover;
                width: 30px;
                height: auto;
                align-items: center;
                justify-content: center;
                margin: auto;
            }
        }

        .nav__container {
            padding-top: 2em;
            border-top: solid 0.2px rgba(255, 255, 255, 0.226);

            .nav__title {
                margin: 1em;

                h1 {
                    font-size: 17px;
                }
            }
        }

        .nav__item {
            display: flex;
            padding: 1em;
            align-items: center;
            -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
            transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
            &:hover {
                background-color: #211293;
            }
            .nav__list__datalog {
                .log__maps__data {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1.4em;

                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 17px;
                        font-weight: 500;
                    }
                    .icon-inner {
                        align-items: center;
                    }
                }
            }

            .nav__dropdown {
                color: var(--left__nav__text);
                position: relative;
            }

            .nav__dropdown:hover {
                background-color: var(--left__nav__hover-bg);
                transition: 0.35s ease-in-out;
            }

            .nav__dropdown--menu {
                position: absolute;
                -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
                transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
            }
        }
    }
}

.nav__dropdown--menu {
    width: 250px;
}

// Main Content
.main__content {
    background-color: var(--card__item);
    margin: 1.5em 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

    .main__p {
        padding: 1.5em;
    }
}

// End Main Content

// Top Nav

.nav__logo {
    padding: 2em;
}

.top__nav {
    width: 100%;
    background: rgb(241, 241, 241);
    // background: linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 85, 1) 62%, rgba(4, 13, 55, 1) 100%);
    display: block;
    position: fixed;
    z-index: 99;
    // margin-left: 280px;
    color: #0f0f0f;
    display: block;

    .nav__dropdown--top {
        float: right;
        display: flex;
        margin: 20px;
    }

    .dropdown__toggle--custome {
        color: #252525;
    }

    .dropdown__menu--top {
        -webkit-transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
        transition: all 1s cubic-bezier(0.22, 0.92, 0.08, 1);
        margin-top: 220px;
    }
}

.dropdown__toggle--custome::after {
    margin-left: 20px;
}

// End Top Nav

// Content Card
.content__danger__air--quality {
    position: relative;
}

.card__wrapper {
    // background: linear-gradient(225deg, #300303, #8b0505);
    box-shadow: -29px 29px 57px #d0d0d0, 29px -29px 57px #f0f0f0;
}

.wrapper__content {
    // display: flex;
    // margin: auto;
    // justify-content: center;
    // justify-items: center;
    margin-left: 280px;
    padding: 3em;
    font-family: "Author", sans-serif;
    padding-top: 7em;
    position: relative;
    // max-width: 1500px;
    position: relative;
}

.content__danger__air--quality {
    overflow: hidden;
    background-color: var(--card__item);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content__card {
    display: grid;
    gap: 20px;

    .card__item {
        overflow: hidden;
        background-color: var(--card__item);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

// Air Quality
.wrapper__content {
    .content__danger__air--quality {
        margin: 1em 0 1em;
        border-radius: 10px;

        .air__quality--bad {
            gap: 20px;
            color: #ffffff;
            border-radius: 10px;
            background: linear-gradient(225deg, #300303, #8b0505);
            box-shadow: -29px 29px 57px #d0d0d0, 29px -29px 57px #f0f0f0;

            .index__info__context {
                display: inline-block;
                font-size: 17px;
                z-index: 3;
            }
        }
    }
}

.card__index--air {
    font-size: 18.7px;
}

.waves__svvgs svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 200px;
    fill: #ff110028;
    display: block;
    opacity: 30%;
}

// End Air Quality
.card__wrapper {
    // Index Sangat Tidak Sehat
    .card__item--vnh {
        background: rgb(149, 12, 12);
        background: linear-gradient(
            90deg,
            rgba(149, 12, 12, 1) 0%,
            rgba(126, 24, 24, 1) 62%,
            rgba(116, 2, 2, 1) 100%
        );
        color: #ffffff;
    }

    // End Index Sangat Tidak Sehat

    // Index Tidak Sehat
    .card__item--nh {
        background: rgb(177, 161, 16);
        background: linear-gradient(
            90deg,
            rgba(177, 161, 16, 1) 0%,
            rgba(108, 99, 15, 1) 52%,
            rgba(98, 89, 7, 1) 100%
        );
        color: #ffffff;
    }

    // End Index Tidak Sehat

    // Index Middle
    .card__item--middle {
        background: rgb(16, 118, 177);
        background: linear-gradient(
            90deg,
            rgba(16, 118, 177, 1) 0%,
            rgba(12, 95, 143, 1) 50%,
            rgba(7, 69, 106, 1) 100%
        );
        color: #ffffff;
    }

    // End Index Middle

    // Index Good
    .card__item--good {
        background: rgb(14, 154, 21);
        background: linear-gradient(
            90deg,
            rgba(14, 154, 21, 1) 0%,
            rgba(11, 108, 16, 1) 50%,
            rgba(6, 91, 11, 1) 100%
        );
        color: #ffffff;
    }

    // End Index Good
}

.card__item {
    display: flex;
    border-radius: 10px;
}

.card__title {
    font-family: "Satoshi", sans-serif;
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.card__sub--head {
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    color: #ffffff;
    transition: 0.1s ease-in-out;
}

.card__banner {
    width: 122px;
    background-color: rgba(164, 164, 164, 0.23);
    transition: 0.35s ease-in-out;
}

.card__banner--danger {
    width: 122px;
    background-color: rgba(163, 11, 11);
    transition: 0.35s ease-in-out;
}

.card__banner--vnh {
    width: 122px;
    background-color: rgba(95, 6, 6);
    transition: 0.35s ease-in-out;
}

.card__banner--nh {
    width: 122px;
    background-color: rgba(128, 107, 14, 0.76);
    transition: 0.35s ease-in-out;
}

.card__banner--middle {
    width: 122px;
    background-color: rgba(16, 77, 134);
    transition: 0.35s ease-in-out;
}

.card__banner--good {
    width: 122px;
    background-color: rgba(13, 122, 27);
    transition: 0.35s ease-in-out;
}

// End Content Card

.card__title {
    font-size: 17px;
    margin: 0 20px;
}

.index__info {
    width: 200px;
    transition: 1s ease-in-out;
}

// BOOTSTRAP
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    border-color: transparent;
}

.nav__dropdown::after {
    // margin-left: 8.6em;
    justify-content: space-between;
    margin-left: 6.6em;
}

.dropdown-menu.show {
    margin: 14px 0;
}

// Penjelasan Alat | Aplikasi

.penjelasan__alat--content {
    font-family: "Satoshi", sans-serif;

    h1 {
        color: #777676;
        font-size: 25px;
    }

    .device__information {
        .device__name {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .name__info {
                font-weight: 600;
            }
        }

        padding: 45px 0;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .device__model {
        display: flex;
        gap: 10px;

        .model__info {
            font-weight: 600;
        }
    }

    .devices__wrapper {
        font-size: 18px;

        p {
            line-height: 2em;
            padding: 1rem 0;
        }

        i {
            font-weight: 500;
        }

        .device__info {
            h1 {
                font-size: 20px;
                color: #ffffff;
                background-color: #0f0f0f;
                max-width: 200px;
                padding: 10px;
                align-items: center;
                text-align: center;
                border-radius: 10px;
            }

            .device__banner {
                margin: 45px 0 45px;
                display: flex;
                justify-content: center;

                figure {
                    img {
                        margin: auto;
                        object-fit: cover;
                        height: 300px;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

// Penjelasan Alat | Aplikasi

// Mapsbox Canvas

.maps__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    .maps__item {
        flex: 1 1 0;
        display: block;
        position: relative;

        .maps__header {
            h1 {
                font-size: 40px;
                padding: 25px 0;
                font-family: "Author", sans-serif;
            }
        }
    }
    .maps__bag {
        // position: relative;
        bottom: 23px;
        right: 17px;
        position: absolute;
        background-color: rgb(10, 5, 61);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;

        img {
            margin: 10px;
            position: relative;
            z-index: 3;
            height: 12px;
            width: auto;
            pointer-events: none;
        }
    }
    .maps__canvas {
        background-color: #ffffff;
        padding: 1em;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .mapboxgl-control-container {
            .mapboxgl-canvas {
                width: 100%;
                height: 100%;
            }
            .mapboxgl-ctrl-bottom-right {
                display: none;

                .mapboxgl-ctrl-attrib-inner {
                    display: none;
                }
            }
        }
    }

    .maps__info__content {
        display: flex;
        flex-direction: row;
        padding: 11px 0;
        gap: 20px;

        .maps__info__items {
            flex: 1 1 0;
            display: block;

            .hours {
                font-size: 14px;
                background: rgb(226, 245, 213);
                color: rgb(61, 95, 38);
                font-weight: 600;
                padding: 10px;
                margin: 3px 0;
                position: relative;
                overflow: hidden;
                box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -webkit-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -moz-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                &::before {
                    display: block;
                    background: rgb(192, 226, 167);
                    content: "";
                    min-width: 8px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                }
            }

            .days {
                font-size: 14px;
                background: rgb(226, 245, 213);
                color: rgb(61, 95, 38);
                font-weight: 600;
                padding: 10px;
                margin: 3px 0;
                position: relative;
                overflow: hidden;
                box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -webkit-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -moz-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                &::before {
                    display: block;
                    background: rgb(192, 226, 167);
                    content: "";
                    min-width: 8px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                }
            }

            .date {
                font-size: 14px;
                background: rgb(226, 245, 213);
                color: rgb(61, 95, 38);
                font-weight: 600;
                padding: 10px;
                margin: 3px 0;
                position: relative;
                overflow: hidden;
                box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -webkit-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -moz-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                &::before {
                    display: block;
                    background: rgb(192, 226, 167);
                    content: "";
                    min-width: 8px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                }
            }

            .years {
                font-size: 14px;
                background: rgb(226, 245, 213);
                color: rgb(61, 95, 38);
                font-weight: 600;
                padding: 10px;
                margin: 3px 0;
                position: relative;
                overflow: hidden;
                box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -webkit-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -moz-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                &::before {
                    display: block;
                    background: rgb(192, 226, 167);
                    content: "";
                    min-width: 8px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                }
            }

            .lat {
                font-size: 14px;
                background: rgb(226, 245, 213);
                color: rgb(61, 95, 38);
                font-weight: 600;
                padding: 10px;
                margin: 3px 0;
                position: relative;
                overflow: hidden;
                box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -webkit-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -moz-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                &::before {
                    display: block;
                    background: rgb(192, 226, 167);
                    content: "";
                    min-width: 8px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                }
            }

            .long {
                font-size: 14px;
                background: rgb(226, 245, 213);
                color: rgb(61, 95, 38);
                font-weight: 600;
                padding: 10px;
                margin: 3px 0;
                position: relative;
                overflow: hidden;
                box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -webkit-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                -moz-box-shadow: -1px 16px 28px -13px rgba(80, 163, 36, 0.64);
                &::before {
                    display: block;
                    background: rgb(192, 226, 167);
                    content: "";
                    min-width: 8px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    overflow: hidden;
                }
            }
        }
    }

    .maps__info {
        background-color: #ffffff;
        padding: 1em;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        font-family: "Satoshi", sans-serif;
        .location {
            font-size: 13px;
            background: rgb(245, 234, 205);
            color: rgb(126, 93, 32);
            font-weight: 600;
            padding: 10px;
            margin: 3px 0;
            position: relative;
            overflow: hidden;
            box-shadow: -1px 16px 28px -13px rgba(219, 202, 121, 0.64);
            -webkit-box-shadow: -1px 16px 28px -13px rgba(219, 202, 121, 0.64);
            -moz-box-shadow: -1px 16px 28px -13px rgba(219, 202, 121, 0.64);
            &::before {
                display: block;
                background: rgb(236, 214, 159);
                content: "";
                min-width: 8px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                overflow: hidden;
            }
        }
    }
}

.maps__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    .timestamps {
        font-size: 17px;
        font-weight: 500;
        color: #161616;
        padding: 1em;
        position: relative;
        z-index: 2;

        &::after {
            display: block;
            z-index: -1;
            background-color: rgb(236, 245, 204);
            content: "";
            min-width: 123px;
            height: 40px;
            position: absolute;
            right: 0;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            top: 17%;
            overflow: hidden;
        }

        &::before {
            display: block;
            background-color: rgb(191, 204, 144);
            content: "";
            min-width: 8px;
            height: 40px;
            position: absolute;
            right: 0;
            top: 17%;
            overflow: hidden;
        }
    }
}

.nilai__info__wrapper {
    padding: 35px 0;
    display: block;

    h1 {
        font-size: 18px;
    }

    .maps__info__nilai-content {
        gap: 20px;
    }

    // Controll for svg/image icon nilai
    .nilai__wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        .co__icon {
            background: rgba(198, 198, 240, 0.452);
            padding: 10px 12px;
        }
        .co2__icon {
            background: rgba(172, 228, 162, 0.397);
            padding: 10px 12px;
        }
        .kelembapan__icon {
            background: rgba(196, 215, 255, 0.452);
            padding: 10px 15px;
        }
        .suhu__icon {
            background: rgba(247, 208, 208, 0.452);
            padding: 10px 18px;
        }
    }
    // End Controll for svg/image icon nilai

    .maps__nilai__items {
        flex: 1 1 0;
        position: relative;
        overflow: hidden;
        .co {
            font-size: 14px;
            background: rgb(213, 213, 248);
            color: rgb(32, 32, 32);
            margin: 3px 0;
            position: relative;
            overflow: hidden;
            font-weight: 600;
            &::before {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                z-index: 2;
                background: rgba(173, 173, 247, 0.301);
                border-radius: 100%;
                right: -10px;
                top: -4px;
            }
        }
        .co2 {
            font-size: 14px;
            background: rgb(200, 236, 206);
            color: rgb(32, 32, 32);
            margin: 3px 0;
            position: relative;
            overflow: hidden;
            font-weight: 600;
            &::before {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                z-index: 2;
                background: rgba(84, 179, 98, 0.116);
                border-radius: 100%;
                right: -10px;
                top: -4px;
            }
        }
        .kelembapan {
            font-size: 14px;
            background: rgb(220, 235, 250);
            color: rgb(32, 32, 32);
            margin: 3px 0;
            position: relative;
            overflow: hidden;
            font-weight: 600;
            &::before {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                z-index: 2;
                background: rgba(57, 136, 216, 0.103);
                border-radius: 100%;
                right: -10px;
                top: -4px;
            }
        }
        .suhu {
            font-size: 14px;
            background: rgb(252, 231, 231);
            color: rgb(32, 32, 32);
            margin: 3px 0;
            position: relative;
            overflow: hidden;
            font-weight: 600;
            &::before {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                z-index: 2;
                background: rgba(248, 197, 197, 0.247);
                border-radius: 100%;
                right: -10px;
                top: -4px;
            }
        }
    }
}

// End Mapsbox Canvas

@media (min-width: 1201px) {
    .nilai__info__wrapper .maps__info__nilai-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content__card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__item {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card__content--item {
        padding: 20px;

        img {
            object-fit: cover;
            background-repeat: no-repeat;
            height: 80px;
            justify-content: center;
            align-items: center;
            pointer-events: none;
        }
    }

    .card__wrapper {
        .card__item--vnh {
            align-items: center;
        }

        .card__item--nh {
            align-items: center;
        }

        .card__item--middle {
            align-items: center;
        }

        .air__quality--bad {
            align-items: center;
        }

        .card__item--good {
            align-items: center;
        }

        .index__info__context {
            margin: 0 2em;
            // max-width: 400px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .content__card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__item {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card__content--item {
        padding: 20px;

        img {
            object-fit: cover;
            background-repeat: no-repeat;
            height: 80px;
            justify-content: center;
            align-items: center;
            pointer-events: none;
        }
    }

    .card__wrapper {
        .card__item--vnh {
            align-items: center;
        }

        .card__banner--nh {
            align-items: center;
        }
    }

    .card__title {
        font-size: 17px;
        margin: 0 20px;
    }

    .index__info {
        width: 200px;
    }

    .index__info__context {
        margin: 0 2em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .content__card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__content--item {
        padding: 20px;

        img {
            object-fit: cover;
            background-repeat: no-repeat;
            height: 80px;
            justify-content: center;
            align-items: center;
            pointer-events: none;
        }
    }

    .card__item {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card__wrapper {
        .card__item--vnh {
            align-items: center;
        }
    }

    .card__title {
        font-size: 17px;
        margin: 0 20px;
        align-items: center;
    }

    .index__info {
        width: 200px;
    }

    .index__info__context {
        margin: 0 2em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .content__card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__content--item {
        padding: 20px;

        img {
            object-fit: cover;
            background-repeat: no-repeat;
            height: 80px;
            justify-content: center;
            align-items: center;
            pointer-events: none;
        }
    }

    .card__item {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content__danger__air--quality {
        display: flex;
        flex-direction: column;
    }

    .index__info__context {
        flex-direction: row;
    }
}

//Log data pages
.log__data__container {
    font-family: "Satoshi", sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    .log__wrapper {
        .log__header {
            font-size: 18px;
            font-weight: 500;
            padding: 1em;
            background-color: #0c0c0c;
            color: #ffffff;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .log__content {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
            padding: 1em;
            margin: 25px;
            display: block;
        }
    }
}

// .test{
//     background-color: rgba(255, 255, 255, 0.041);
// }

#nilaiCo {
    position: relative;
    z-index: 3;
}
#nilaiCo2 {
    position: relative;
    z-index: 3;
}
#nilaiSuhu {
    position: relative;
    z-index: 3;
}

//Map Box Set Status Style
.load__status {
    h1 {
        font-size: 15px;
        padding: 1em;
    }
    p {
        padding: 1em;
    }
}

.mapboxgl-popup {
    .mapboxgl-popup-content {
        background-color: #f0f3d9;
        font-family: "Satoshi", sans-serif;
        .mapbox__lat__long {
            padding: 1em;
            display: flex;
            flex-direction: column;
        }
    }
}

//End Map Box Set Status Style
